#navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

.navbarPartition {
    font-size: 60px;
    padding-bottom: 0.3em;
    color: #6528F7 ;
}

.navbar-ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.navbar-ul li {
    display: inline-block;
    margin: 0 20px;
    color: aqua;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #6528F7;
}

a:hover {
    text-decoration: underline;
    color: #A076F9;
}

.socialsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.navbar-socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
}